// @import '../../../assets/styles/variables.scss';

.newVersion {
  height: 510px;
  // padding: 8px 10px;

  display: flex;
  flex-direction: column;

  // align-items: center;
  .toogleButtonGroup {
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    :global(.MuiToggleButton-root) {
      line-height: 8px;
      font-size: 10px;
    }
  }

  .textarea {
    resize: none;
    outline-color: #ff9930;
    border-color: #c3c3c3;
    border-radius: 4px;
    color: #524A4E;
    min-height: 120px;
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;

    &::placeholder {
      color: #c6c6c6;
    }
  }

  .table {
    :global {
      .MuiTableCell-root {
        padding: 4px 8px;
        color: #524A4E;
        font-size: 12px;
      }

      .MuiTextField-root {
        margin-top: 0;
      }

      .MuiInputBase-root {
        font-size: 14px;
      }

      .MuiSvgIcon-root {
        font-size: 20px;
      }
    }
  }

  // .deleteIcon {
  //   // &:hover {
  //   //   transition: color 0.2s ease-in-out;
  //   //   color: $secondary-color;
  //   // }
  // }
  .addBtnContainer {
    text-align: center;
  }

  .addIcon {
    margin-top: 8px;
  }
}