.app {
  width: 400px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;

  .version {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 8px;

    :global(.MuiButton-text) {
      line-height: 1;
    }
  }

  .container {
    flex: 1;
  }
}